[Unit]
Description=Fix 3CX permissions

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/3cx_fix_perms.sh

[Install]
WantedBy=multi-user.target 
